@model _200389547.Models.Car

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>


    <p> Id: @Model.Id</p>
    <p> Brand: @Model.Brand</p>
    <p> Model: @Model.Model</p>
    <p> Type: @Model.Type</p>
    <p> Year: @Model.Year</p>
 


