@model List<_200389547.Models.Car>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Car List</h2>

@foreach(var car in Model)
{
 @car.Id
 @car.Brand
    @car.Model
    @car.Type
    @car.Year
}
